.color-back {
  background-color: rgb(23, 86, 126);
}

.white-text {
  color: white;
}

.recent-activities-div-background {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(41, 116, 162);
  padding-bottom: 9px;
  /* height: 200px;
  width: 100%; */
}

.recent-activities-analyse-button {
  background-color: rgb(129, 66, 186);
  position: "relative";
  bottom: "0";
  height: 40px;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  width: 100px;
}
